<style>
  table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr, td {
    padding: 15px;
  }
  </style>

<form name="form">
  <select name="select" [(ngModel)]="layout">
  <option value="tree">Tree</option>
  <option value="root">Root</option>
  <option value="cool">cool</option>
</select>&nbsp;&nbsp; <b *ngIf="layout.length <= 0">Please Select the Layout</b><br><br>
<div [class]="layout">
<input type="text" name="name" [(ngModel)]="udata.firstName" (ngModelChange)="checkData()"   />&nbsp;<b *ngIf="udata.firstName.length <=  0" style="color: red;" >Please Enter Something</b><br><br>
<input type="text" name="name" [(ngModel)]="udata.lastName"/>&nbsp;<b *ngIf="udata.lastName.length <=  0" style="color: red;">Please Enter Something</b><br><br>
<select size="1" [(ngModel)]="state1" name="select">
  <option value=0>Tamil Nadu</option>
  <option value=1>Karnataka</option>
  <option value=2>Andhra Pradesh</option>
  <option value=3>Telangana</option>
</select>&nbsp;&nbsp;
<select size="1" [(ngModel)]="state2" name="select">
  <option *ngFor="let state of all[state1]" [value]="state">{{state}}</option>
</select><br><br>
<!--onClick="saveData(this)"-->
<input type="submit" name="saveData" value="submit" [disabled]="!(udata.firstName.length > 0 && udata.lastName.length > 0 && state1 !=-1 && state2  !=-1 )" 
(click)="saveData()"/>
</div>
</form>

<!--Same as For-of Loop in Javascript -->
<table>
<tr  *ngFor="let user of usersDetails" >
  <td>
    {{user.firstName}}
  </td>
  <td>
    {{user.lastName}}
  </td>
  <td>
    {{user.company}}
  </td>
  <td>
    {{all[state1]}}
  </td>
</tr>
</table>
<br>

<form>
  Company name <input type="text" [(ngModel)]="udata.company" name="companyname"/><br>
  Location <input type="text" [(ngModel)] ="udata.location" name="location"/><br>
</form>
<br>
<!---portion of the page or sub view depending upon the condition -->
<ng-template [ngIf]="this.udata.company.length !=0 &&  this.udata.location.length !=0"  [ngIfElse]="notCorrect">
  <b>Inputs are correct</b>
</ng-template>
<ng-template #notCorrect>
<div>
  <b>Inputs are not correct</b>
</div>
</ng-template>
<select size="1" [(ngModel)]="stateName">
   <option value="TN">Tamil Nadu</option>
   <option value="KA">Karnataka</option>
   <option value="AP">Andhra Pradesh</option>
   <option value="UP">Uttar Pradhesh</option>
  
  </select>
  <span [ngSwitch]="stateName">
    <ul *ngSwitchCase="'TN'"><li>Chennai</li><li>Thanjavur</li><li>Kumabakonam</li>  </ul>
      <ul *ngSwitchCase="'AP'"><li>Vijayawada</li><li>Vizag</li><li>Tirupati</li>  </ul>
        <ul *ngSwitchCase="'KA'"><li>b'lore</li><li>Mysore</li><li>Mangalore</li>  </ul>
          <ul *ngSwitchCase="'UP'"><li>Lucknow</li><li>Allahabad</li><li>Meerut</li></ul>
  </span>

<router-outlet></router-outlet>

